   @media screen and (max-width: 760px) {
    
    .tiles-colors .col-md-3:nth-child(2) {
        padding-right: 0;
    }

    .tiles-colors .col-md-3:nth-child(6) {
        padding-right: 0;
    }

    .tile-box img {
        width: 60px;
        display: block;
        margin: 0 auto 10px;
    }

    .tile-box-custom img {
        width: 45px;
        margin: inherit;
        display: initial;
        margin: 38px 0px 20px 0px;
    }

  }

  @media screen and (max-width: 1200px) {

    /*body{background: Red;}*/

    .tile-box-custom .value-box-custom {
        font-size: 14px;
        margin-bottom: 7px;
    }

    .tile-box .number-tile {
        font-size: 62px;
    }
    
  }

  @media screen and (max-width: 990px) {

    /*body{background: Green;}*/

    .tile-box-custom .col-md-6 {
        padding-right: 10px;
        position: relative;
    }

    .tile-box-custom .value-box-custom {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .tile-box .value-tile {
        font-weight: bold;
        font-size: 14px;
        margin-top: 6px;
        margin-bottom: -7px;
    }

    .tile-box .number-tile {
        font-size: 57px;
    }
    
  }


