body{background: #f9f9f9;}

/* Colors */

.blue{background: #00618b}
.purple{background: #590052}
.purple-light{background: #97138b}
.green{background: #00be82}

.full-container-dash {
    box-shadow: rgba(0,0,0,0.2) 0 0 10px;
    background: #FFF;
    margin: 15px;
    min-height: 300px;
}

header {
    background: #00618b;
    height: 50px;
    line-height: 50px;
    color:#FFFFFF;
}

header img {
    margin-right: 10px;
}

.painel-custom {
    margin: 15px auto;
    display: block;
    width: 98%;
}

.card-default {
    background: #f5f5f5;
    min-height: 80px;
    border-left: solid 5px #CCC;
    padding: 15px;
    margin-bottom: 5px;
}

.card-default h3 {
    margin-top: 0;
    font-size: 16px;
    color: #00618b;
    margin-bottom: 15px;
    text-transform: uppercase;
}

table {
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    color: #333333;
}

table thead th {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.list-vendedores {
    list-style: none;
    padding: 0px 0px 0 70px;
    margin: 0;
    font-size: 12px;
}

.tiles-colors .col-md-3 {
    padding: 0 3px 3px 0;
    text-align: center;
}

.tiles-colors .col-md-3:nth-child(4) {
    padding-right: 0;
}

.tiles-colors .col-md-6 {
    padding: 0;
}

.tile-box {
    height: 160px;
    width: 100%;
    padding-top: 45px;
    color: #FFF;
    font-size: 12px;
}

.tile-box img {
    width: 40%;
    display: block;
    margin: 0 auto 10px;
}

.tile-box .number-tile {
    font-size: 70px;
    margin-top: -12px;
    margin-bottom: -25px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.1) 5px 3px 0px;
}

.tile-box .perc-tile {
    font-size: 50px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.1) 5px 3px 0px;
}

.tile-box .value-tile {
    font-weight: bold;
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: -7px;
}

.tile-box span {
    display: block;
    margin-top: 30px;
}

.tile-bg-chart {
    background-image: url(../images/pie-chart.svg) !important;
    background-repeat: no-repeat;
    background-size: 120px;
    background-position: 50px 45px;
}

.vendedores-bg {
    background-image: url(../images/salesman.svg) !important;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 15px 13px;
}

.tile-box-custom {
    padding: 0px;
    text-align: right;
}

.indi-perc {
    display: inline !important;
    margin-top: initial !important;
    font-size: 30px;
    margin-left: 5px;
}

.tile-box-custom img {
    width: 45px;
    margin: inherit;
    display: initial;
    margin: 38px 0px 20px 0px;
}

.tile-box-custom .col-md-6 {
    padding-right: 20px;
    position: relative;
}

.tile-box-custom span {
    position: absolute;
    width: 1px;
    background: #FFFFFF;
    height: 120px;
    right: 0;
    top: -10px;
}

.tile-box-custom .value-box-custom {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Tab Navigation */

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    width: 50%;
    background: #d2d2d2;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #FFFFFF;
    cursor: default;
    background-color: #313131;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: none;
    border-radius: 0px;
    color: #666;
}

.tabs-custom {
    margin-top: 20px;
}

.tab-content {
    padding-top: 10px;
}

.bg-chart {
    background: whitesmoke;
    padding: 20px;
    margin-bottom: 8px;
}

.bg-chart h3 {
    margin-top: 0;
    font-size: 16px;
    color: #00618b;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.btn-link {
    display: inline-block;
    width: 50%;
    background: #f9f9f9;
    padding: 10px;
    text-align: center;
    color: #999999;
    font-size: 18px;
    margin: 15px 0 5px 0px;
    float: left;
}

.btn-link:focus, .btn-link:hover {
    color: #999999;
    text-decoration: none;
    background-color: #f9f9f9;
}

.btn-link.active {
    background: #313131;
    color:#FFFFFF;
}