  @media screen and (max-width: 760px) {
    
    .tiles-colors .col-md-3:nth-child(2) {
        padding-right: 0;
    }

    .tiles-colors .col-md-3:nth-child(6) {
        padding-right: 0;
    }

    .tile-box img {
        width: 60px;
        display: block;
        margin: 0 auto 10px;
    }

    .tile-box-custom img {
        width: 45px;
        margin: inherit;
        display: initial;
        margin: 38px 0px 20px 0px;
    }

  }
  
  @media screen and (min-width: 768px) {
    body {
      background-color: lavender;
    }
    
  }